.user-container {
    width: 500px;
    .user-field {
        padding-bottom: 10px;
       
      
       
        .user-lable {
            margin-right: 20px;
           
            color: blue;
            .user-input {
                padding-left: 20px;;
                
            }
        }
    }
}
